body,
h1 {
  margin: 0;
}

body {
  background-color: #f5eefe;
}

nav {
  background-color: #dcd7f7;
  padding: 10px;
  text-align: center;
}

nav > * {
  max-width: 40%;
  margin: auto;
  padding: 4px;
}

section {
  background-color: #dcd7f7;
  width: 300px;
  padding: 10px;
  border-radius: 50px;
  margin: auto;
  box-shadow: 0px 4px 14px -3px rgba(66, 68, 90, 1);
}

.margin-bottom-40 {
  margin-bottom: 40px;
}

.avatar {
  width: 300px;
  border-radius: 40px;
  margin-bottom: 10px;
}

footer {
  background-color: #dcd7f7;
  text-align: center;
  padding: 30px;
}
